name: package

on:
  push:
    tags: [ 'v*' ]


jobs:
  package:
    runs-on: alpine/helm
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Package
        run: |
          helm package ./chart

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            *.tgz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      